body {
	background-color: gainsboro;
	font-family: verdana;
	text-align: center;
}

/*
.top-grid {
	background-color: darkgray;
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.left-label {
	float: left;
	grid-column: 1 / 2;
	grid-row: 1;
	}

.right-label {
	float: right;
	grid-column: 2 / 3;
	grid-row: 1;
}
*/

.pyramid-block {
	color: darkmagenta;
}

#pyramid-output {
	padding: 50px;
}